### Last thing about strings

In [1]:
age = 40
name = 'Mustafa'
# old easy version of text modification
print(name, 'is', age, 'years old, so he can start looking for milfs.')

# neweast version from Python 3.7.0 (earlier you won't be able to use this)
print(f'{name} is {age} years old, so he can start looking for milfs.')

Mustafa is 40 years old, so he can start looking for milfs.
Mustafa is 40 years old, so he can start looking for milfs.

## Lists

They are ordered sequences that can hold different types of objects.

These objects use brackets [ ] to hold data and commas to separate list items.

Like text variables, they can be indexed and sliced, and they have many dedicated methods.

In [ ]:
a=['d','b','c']
print(a)

['a', 'b', 'c']

In [3]:
some_list = ['Mustafa', 'Luca', 'Joseph Bush']
print(some_list[0])
print(some_list[1])
print(some_list[2])

Mustafa
Luca
Joseph Bush

In [5]:
print(some_list[2][:6])

Joseph

Lists are:
1. Ordered
2. They can contain any objects
3. List items are accessible via indexing
4. They can be nested to any level
5. Their items can change
6. They are dynamic

In [7]:
# List can contain the same type, like strings, ints, floats and so on
a = [1,2,3]

# But also some other types
lista2 = [1,'2',True]

In [ ]:
# the order of elements is important

[1, 2, 3, 4] == [4, 1, 3, 2]

False

In [8]:
# You can multiple them

['A'] * 5

['A', 'A', 'A', 'A', 'A']

In [9]:
# you can combine them like text

list1 = [1, 2, 3]
list2 = ['garkotłuk']
print(list1 + list2)

[1, 2, 3, 'garkotłuk']

In [10]:
# number of elements in list
lista = [ 1, 2, 3, 5, 122, 21]
len(lista)

6

In [12]:
# Differences between text and list is that in list we can replace the elements. In string we cannot do that

list_of_numbers = [0, 1, 2, 3, 4, 6, 6, 7, 8, 9]
list_of_numbers[5] = 5
print(list_of_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# Adding elements to the end of list  .append()
list_of_numbers = [0, 1, 2, 3, 4, 6, 6, 7, 8, 9]
list_of_numbers.append(10)
print(list_of_numbers)

list_of_numbers.append([10,11,12])
print(list_of_numbers)

[0, 1, 2, 3, 4, 6, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 6, 6, 7, 8, 9, 10, [10, 11, 12]]

In [17]:
# adding elements in place we want to: .insert(index, element)

list_of_numbers = [0, 1, 2, 3, 4, 6, 6, 7, 8, 9]
list_of_numbers.insert(2, [1,2,3,4])
print(list_of_numbers)

[0, 1, [1, 2, 3, 4], 2, 3, 4, 6, 6, 7, 8, 9]

In [19]:
# removing elements: .pop() if you do not provide index of element as argument to the function then the last element will be removed
list_of_numbers = [0, 1, 2, 3, 4, 6, 6, 7, 8, 9]
list_of_numbers.pop()
list_of_numbers.pop(0)
print(list_of_numbers)

[1, 2, 3, 4, 6, 6, 7, 8]

In [ ]:
# .remove(element)

list_of_numbers = [0, 1, 2, 3, 4, 6, 6, 7, 8, 9]
list_of_numbers.remove(4)
print(list_of_numbers)

[0, 1, 2, 3, 6, 6, 7, 8, 9]

In [25]:
#sorting

list_of_numbers = [0, 1, 2, 7, 4, 6, 6, 7, 1, 9]
list_of_numbers.sort()
print(list_of_numbers)


# or reversed

list_of_numbers.sort(reverse=True)
print(list_of_numbers)

[0, 1, 1, 2, 4, 6, 6, 7, 7, 9]
[9, 7, 7, 6, 6, 4, 2, 1, 1, 0]

In [26]:
# or sorting with length of elements
lista = ['a','zbc','kb','abcd']
lista.sort(key=len)
print(lista)

['a', 'kb', 'zbc', 'abcd']

In [ ]:
# If we want to check that element is on list use "in"

list_of_names = ['Mustafa', 'Joseph', 'Karol', 'Alicja', 'Luca']
print('Mustafa' in list_of_names)

True

In [30]:
# Returning index for element
list_of_names = ['Mustafa', 'Joseph', 'Karol', 'Alicja', 'Luca']
print(list_of_names.index('Alicja'))

3

Exercise 1
- Create a list that will contain three names: Ania, Janek, Zosia
- Add a name at the end of the list: Kasia
- Add a name at the beginning of the list: Ola
- Remove the third element from the list
- Display the number of list elements
- Check if the list contains the following names (separately for each): Ania, Jan, Kasia

## Text vs. List - Split and Join Functions

The split function splits a string into a list, while the join function changes the list into text. As arguments to the function, we provide a separator and a connecting element, respectively.

In [32]:
quote = "Losing a rock is better than never having a rock"

In [33]:
splitted_quote = quote.split()
print(splitted_quote)

['Losing', 'a', 'rock', 'is', 'better', 'than', 'never', 'having', 'a', 'rock']

In [34]:
# if we want to change list to tekst than

new_quote = ' '.join(splitted_quote)
print(new_quote)

Losing a rock is better than never having a rock

## Excercise!

quote: "This parrot is gone! It ceased to exist! It went to meet its creator! It's a dead parrot! A stiff! Life has left it, now it rests in peace! If the master hadn't nailed it to the perch, it would be smelling flowers from underneath! It shot the calendar and now sings in the angelic choir! It's an ex-parrot!"

Instructions:
1. Convert the above quote into a list by dividing on exclamation marks
2. Delete the last element of the list
3. Return the index for "Stiff"
4. Create a new list that contains every other element starting from 3
5. Combine the elements of the list into one text by inserting exclamation marks

## Nested lists
Can be used to create matrices in python. Indexing matrices:

Info: if we have a lot of elements in the matrix and we care about speed, the numpy library will be better

In [35]:
matrix = [[1, 2], [3, 4]]
print(matrix)

[[1, 2], [3, 4]]

In [37]:
# Also you can connect lists

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

matrix = [list1, list2, list3]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Exercise 3
Create a list with four nested lists containing the numbers 1 through 12. Refer to the 3rd item in the second list.

## Tuples

Tuples are lists without the possibility of modification. Some methods can be used on both types, excluding those that modify the content like pop, append, etc. We use it when we do not want the elements of the list to be modified, then they can serve as a key in a dictionary, for example. Tuples are also faster than lists.

In [38]:
tupla1 = (1,2,3)
len(tupla1)

3

In [39]:
(1,2,3) == (3,2,1)

False

In [40]:
tupla1[0]

1

In [41]:
tupla2 = ('a','a','c','d','e')

# Counting elements
tupla2.count('a')

2

In [42]:
# Returning index
tupla2.index('d')

3

In [43]:
# No possibility to modify!
tupla2[0]=2

TypeError: 'tuple' object does not support item assignment

In [44]:
# To change the element in tuple first you need to change type of tuple to list, modify and change back.
lista = list(tupla2)
lista[1] = "x"
tupla3 = tuple(lista)

print(tupla3)

('a', 'x', 'c', 'd', 'e')

#### Exercise 4
1. From the list created in point 1 of exercise 2, select the penultimate element and place separate words in a new list (split by spaces)
2. Convert the text to a tuple and check its length
3. Return the index of the word 'sings' to the console