## What is Pandas?

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

In [ ]:
import pandas as pd

In [ ]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

In [ ]:
# we can read very easy files from excel or from csv files
df = pd.read_csv('titanic.csv')

In [ ]:
# Iff we want to see how data frame looks like we can
df.head() #now it returns 5 first records

In [ ]:
# we can also see the last records
df.tail()

In [ ]:
# we can check the most important info
df.info()

## Cleaning the data

Data Cleaning

Data cleaning means fixing bad data in your data set.

Bad data could be:

    Empty cells
    Data in wrong format
    Wrong data
    Duplicates

### Empty cells

In [ ]:
#if you want to remove NA you have to create new variable DF.

new_df = df.dropna()
new_df.info()

In [ ]:
# or use argument inplace = True instead
df.dropna(inplace = True)
df.info()

In [ ]:
##  Also you can replece NA values
df = pd.read_csv('titanic.csv')
df.fillna(130, inplace=True)
df.info()

In [ ]:
# We can also replace values in specific columns like
df = pd.read_csv('titanic.csv')
df.fillna({'age': 22}, inplace=True)
df.info()

### Also (better options) we can replace the values with mean, median and mode

In [ ]:
# with mean
df = pd.read_csv('titanic.csv')
mean = df['age'].mean()
df.fillna({'age': mean}, inplace=True)
df.info()

In [ ]:
# with median
df = pd.read_csv('titanic.csv')
median = df['age'].median()
df.fillna({'age': median}, inplace=True)
df.info()

In [ ]:
# with mode
df = pd.read_csv('titanic.csv')
mode = df['age'].mode()[0]
df.fillna({'age': mode}, inplace=True)
df.info()

In [ ]:
df = pd.DataFrame({
    'Duration': [60, 60, 60, 60, 60, 30, 1929184141, 50],
    'Pulse': [110, 117, 120, 140, 112, 223, 122, 121],
    'Calories': [200, 432, 121, 421, 212, 521, 212, 424]
})
df.head(10)

In [ ]:
# We can change the value we are interested to

df.loc[6, 'Duration'] = 45 # Here we are telling the loc function that in row index 6 in Column Duration we change the value to 45
df.head(10)

In [ ]:
# We can also use loops like:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

df.head(10)

In [ ]:
# We can also remove the rows
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True) 

df.head(10)

In [ ]:
# Discovering the duplicates
df = pd.DataFrame({
    'Duration': [60, 60, 60, 60, 60, 30, 1929184141, 50],
    'Pulse': [110, 117, 120, 120, 120, 223, 122, 121],
    'Calories': [200, 432, 121, 121, 121, 521, 212, 424]
})

In [ ]:
df.duplicated()

In [ ]:
# So now we can remove the duplicates :)
df.drop_duplicates(inplace = True)

In [ ]:
df.head()

### In very easy way we can check the correlation between data

In [ ]:
df = pd.read_csv('data.csv')
df.head()

In [ ]:
# So the correlation :)
df.corr()

## In very easy way we are able to create some plots
But about plots we will talk in next lessons

In [ ]:
#Scatter plot
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')

df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')

plt.show()

In [ ]:
# Histogram
df["Duration"].plot(kind = 'hist')

In [60]:
# Pivot tables!
pd.crosstab(df.Duration, df.Calories)

Calories,50.3,50.5,77.7,86.2,92.7,100.7,105.3,110.4,124.0,124.2,...,853.0,873.4,953.2,1000.1,1034.4,1115.0,1376.0,1500.2,1729.0,1860.4
Duration,,,,,,,,,,,,,,,,,,,,,
15,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20,1,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
150,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
160,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Excercise time!!!
For data from below do some analysis

In [ ]:
import seaborn as sns
sns.get_dataset_names()

In [ ]:
df = sns.load_dataset('name_of_set')